@CHARSET "UTF-8";

/* Util para mostar los formularios centrados cuando sean necesarios */

.panelGridCenter {
    margin: 0 auto;
}

/* color rojo para los mensajes de error */
.error {
	color: red;
}

/* fuente menor para la pagina de crear cuenta */

.fuenteMenor {
	color: green;
	font-size: 12px;
}

/* fuente menor para los placeholder */

.placeHolder::-webkit-input-placeholder {
  font-size: 10px;
}

.placeHolder:-ms-input-placeholder {
  font-size: 10px;
}

.placeHolder:-moz-placeholder {
  font-size: 10px;
}

.placeHolder::-moz-placeholder {
  font-size: 10px;
}

/* posiciona el contenido a la izquierda */

.toTheLeft {
    float: left;
} 

/* posiciona el contenido a la izquierda y en negrita */

.toTheLeftAndBold {
    float: left;
    font-weight: bold;
} 

/* posiciona el contenido a la derecha */

.toTheRight {
    float: right;
} 

/* clase para usar en el atributo columnClasses de panelGrid si no quieres que tenga bordes */

.no-border {
    border-style: hidden !important ;
}

/* para que la tabla de operaciones del trader aparezca en una sola línea */
.singleLine
{
    /* text-wrap:none; */
    white-space:normal; 
    overflow:scroll;
    font-size: 10px;
}



